@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        For additional information?
    </p>

    <p>
        C'mon, it is internet.
    </p>

    <p>
        You don't know you are wiretapped?
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        World is getting better.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>